<html lang="en">

<head>
<meta charset="UTF-8">
<title>Package go.arpabet.com/{{ page.permalink }}</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
<meta name="go-import" content="go.arpabet.com/{{ page.permalink }} git https://github.com/arpabet/{{ page.permalink }}">
<meta name="go-source" content="go.arpabet.com/{{ page.permalink }} _ https://github.com/arpabet/{{ page.permalink }}/tree/master{/dir} https://github.com/arpabet/{{ page.permalink }}/blob/master{/dir}/{file}#L{line}">
</head>

<body>
  <p>Package go.arpabet.com/{{ page.permalink }} redirect to github.com/arpabet/{{ page.permalink }}</p>
</body>

</html>
